.page-about {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.page-about img {
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
}