@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.page-about {
    margin: 0 auto;
    opacity: 0;
    transition: .7s ease-in-out;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
}

.about-card {
    margin: 0 auto;
    background: rgba(248, 248, 255, 0.801);
    border-radius: 15px;
    width: 68%;
    display: flex;
    justify-content: flex-start;
}

.bio-img {
    border-radius: 15px 0 0 15px !important;
}

.page-about img {
    width: 50%;
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
}


.swiper-container {
    margin-top: 90px;
    height: 480px;
    color: black;
    margin: 30px;
    box-sizing: border-box;
}

.swiper-slide {
    overflow: visible;
    background: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.swiper-slide h2 {
    font-size: 30px;
}

.swipe-img img {
    width: 115px;
}

.about-swipe img:hover, .about-swipe img:active {
    transform: none;
}


.swipe-rating img {
    box-shadow: none;
}

.swipe-text {
    text-align: left;
}

.about-desc {
    color: black;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    height: 480px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: black;
    transform: rotateY(180deg);
    font-size: 20px;
    text-align: left;
  }