.page-about {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    transition: .7s ease-in-out;
}

.page-about img {
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
    transition: .3s;
}

.page-about img:hover, .page-about img:active {
    transform: scale(1.1);
}