.page-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 280px);
    color: rgb(76, 172, 201);
    opacity: 0;
    transition: .7s ease-in-out;
}

.page-landing h1 {
    font-size: 3.3em;
    font-weight: 200 !important;
    color: whitesmoke;
    position: relative;
}