.service-container {
    width: 80%;
    margin: 0 auto;
}

.page-services {
    opacity: 0;
    transition: 1.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 124px);
}

.page-active {
    opacity: 1;
}

.page-services img {
    width: 380px;
    border-radius: 4.7px;
    padding: 0;
    margin: 0;
    transition: .3s ease-out;
}

.page-services img:hover, .page-services img:active {
    transform: scale(1.2);
}

.services {
    background: whitesmoke;
    border-radius: 7.5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    max-width: 420px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
}

.service-text {
    background: #333;
    color: whitesmoke !important;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 380px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
    text-align: left;
}

.massage-menu {
    background: black;
    color: whitesmoke;
    border-radius: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.336);
    margin: 0 auto;
}

.services h1 {
    margin: 20px;
    padding: 0;
}

.services ul {
    padding: 20px;
    margin: 0;
    width: 280px;
}

.services li {
    list-style: none;
    text-align: left;
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services input {
    position: absolute;
    /* opacity: 0; */
    cursor: pointer;
}

.services img {
    width: 150px;
    padding: 10px;
}

/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #FFFFFF;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #009BFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009BFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.massage-list {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-flow: wrap;
    margin: 0 auto;
    align-items: center;
}

.massage-list li {
    list-style: none;
    text-align: left;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    padding: 0;
    margin: 15px 10px;
    background: ghostwhite;

}

.massage-list li img {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    object-fit: cover;
    transition: .6s ease-in-out;
}

.massage-list li img:hover {
    opacity: 0;
}


.massage-list li h2:hover {
    opacity: 0;
}

.massage-list li h4 {
    background: rgb(147, 215, 255);
    color: black;
    padding: 6px;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.massage-list li p {
    margin: 0;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
}